body{
    color:rgb(157, 8, 8);
    background:rgb(255, 255, 0);
}


header{
    border-bottom: solid 2px rgb(255, 0, 179);
    padding: 20px;
}

body{
     color:rgb(0, 0, 0):
     background: yellow:
     margin: 0px;
}